h4 {
    text-align: right;
}
h3{
    text-align: left;
    text-indent: 5mm;
    font-family: "Times New Romans";
    font-size: 18px;
}
h2{
    text-align: left;
    text-indent: 15mm;
    font-family: 'Bad Script', cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

address {
    text-align: right;
}
p { font-family: 'Bad Script', cursive;
    text-indent: 15mm;
}
pre {
    font-family: "Times New Roman";
    text-align: right;

}
body{

}